.discount-button{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        margin: 11px 0;
        font-size: 14px;
    }

    >button{
        padding: 7px 17px;
        font-size: 12px;
        font-weight: 600;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
    }

    >button:active{
        background-color: rgb(204, 204, 204);
    }
}