.product{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 220px;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    cursor: pointer;

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 142px;
        overflow: hidden;

        img{
            width: 140px;
            height: auto; 
            filter: brightness(1) invert(0);
        }
    }

    .detail{
        .title{
            height: 30px;
            margin: 7px 10px;
            font-size: 13px;
            overflow: hidden;
        }

        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            .price{
                margin: 7px 0;
                font-size: 16px;
                font-weight: 800;
            }

            .quantity{
                width: 80px;
                display: none;
                justify-content: space-between;
                align-items: center;
        
                .add, .sub{
                    width: 27px;
                    height: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #908F8F;
                    border-radius: 10px;
                    background-color: #E5E5E5;
                }
        
                .add:hover, .sub:hover{
                    background-color: #d2d2d2;
                }
        
                .sub.disabled {
                    background-color: #AEAEAE;
                }
        
                p{
                    font-size: 13px;
                }
            }
        }
    }

    button{
        display: none;
        height: 35px;
        margin: 10px 10px;
        color: white;
        background-color: black;
        font-size: 15px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:active{
        background-color: rgb(74, 74, 74);
    }
}